@charset "utf-8";

#home{
    background-color:rgb(0, 0, 0) ;
    background-image: url(images/background-dog.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 100vh;
}

#about{
    background-color:white;
    background-image: url(images/dog.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height:140px;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}



.global_nav{
    display: flex;
    margin-top:100px;
}

.global_nav li{
    font-size:20px;
    color:white;
    margin-left:42px;
    list-style: none;
}

.global_nav a{
    color: deepskyblue;
    text-decoration: none;
}

.logo{
    width:120px;
    margin-top: 30px;
}
main{
    text-align:center;
    margin-top:10%
}

h1{
    font-size:42px;
    color:skyblue;
}

p{
    color:skyblue;
}


.yamato_profile{
    width:300px;
}

.wrapper{
    background-color: white;
    margin:0px　auto;
    padding:60px;
}

.profile-coment{
    display: flex;
    justify-content:center;
}

.profile-txt{
    color:black;
    width:540px;
    text-align:left;
}

.profile-txt span{
    font-weight:bold;
}

#omikuji-btn{
    width:200px;
    height:50px;
    margin: 20px auto;
    background: rgb(41, 0, 88);
    text-align:center;
    line-height:50px;
    color:white;
    font-size:18px;
    border-radius: 10px;
}

#omikuji-btn:hover{
    opacity:0.5;
}

footer{
    text-align:center;
    margin:100px auto;
}

#about footer{
    background-color: black;
    text-align:center;
    margin:0 auto;
    padding:26px,0;
}
small{
    color:white;
}
